* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HMSansLatin-Regular";
}

body {
    font-family: "HMSansLatin-Regular";
    background-color: aliceblue;
}

.head {
    max-width: 100vw;
    height: 180px;
}

header {
    color: rgb(34, 34, 34);
}

.burger {
    display: none;
}

.top_nav {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_nav .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_nav .left>* {
    margin: 0px 10px;
}

.top_nav .left .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 3px;
    border: 2.7px solid gray;

}

.top_nav .logo {
    width: 100px;
}

.top_nav .logo img {
    width: 100%;
}

.top_nav .right {
    display: flex;
    align-items: center;
    justify-content: center;
}


.right .icon_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.sign_in_a {
    position: absolute;
    width: 230px;
    overflow: hidden;
    right: 0px;
    background-color: rgb(250, 249, 248);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
    transition: height .7s ease-in-out;
}

.sign_in_a>* {
    margin-left: 20px;
}

.sign_in_a button {
    font-size: 20px;
    padding: 10px 10px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    width: 190px;

}

.sign_para {
    margin-top: 20px;
}

.icon_detail_search {
    display: none;
}

.right .icon_detail i {
    font-size: 23px;
}

.right .icon_detail>* {
    margin: 0px 5px;
}


.bottom_nav {
    width: 100vw;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_for_center {
    width: 10%;
    visibility: hidden;
}

.bottom_nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}


.bottom_nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

}

.navbar ul li {
    font-size: 18px;
}

.bottom_nav ul>* {
    margin: 0px 1.2%;
}

.bottom_nav .search_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1.5px solid;
    width: 16%;
    padding: 4px 0px;
    margin-right: 10px;
    font-size: 20px;
}

.bottom_nav .search_div .fas {
    width: 20%;
}

::placeholder {
    color: rgb(34, 34, 34);
}

.search_div input {
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 4px;
    width: 80%;
}


@media screen and (max-width:1040px) {

    .head{
        height: 60px;
    }

    .head .top_nav{
        height: 100%;
    }

    .burger {
        display: flex;
        flex-direction: column;
        width: 4%;
        height: 20px;
        margin: 20px;
    }

    .burger div {
        margin: 2px;
        background-color: black;
        width: 30px;
        height: 30%;
        border-radius: 7px;
    }



    .top_nav .logo img {
        width: 50px;
        margin-top: 6px;
        margin-left: 5px;
    }

    .top_nav .logo {
        width: 70vw;
        height: 40px;
    }

    .top_nav .left {
        display: none;
    }

    .right .icon_detail .sign_p{
        display: none;
    }

    .icon_detail_search {
        display: block;
        font-size: 22px;
        margin: 0px 10px;
    }

    .top_nav .right {
        margin-right: 20px;
    }

    .right .icon_detail>* {
        margin: 0px 10px;
    }

    .bottom_nav {
        display: none;
    }

}